<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.401431549807-p8asv4t69vvm686lcej8stvedr38flua</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tg-voip</string>
		<string>viber</string>
		<string>msauthv3</string>
		<string>msauthv2</string>
		<string>msauth</string>
		<string>fb</string>
		<string>zalo</string>
		<string>whatsapp-smb</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fbapi20130214</string>
		<string>fbapi20160328</string>
		<string>fbapi20150629</string>
		<string>fbshareextension</string>
		<string>fbapi</string>
		<string>fb-messenger-api20140430</string>
		<string>fb-messenger-share-api</string>
		<string>fb-messenger-platform-20150714</string>
		<string>fb-messenger</string>
		<string>whatsapp-consumer</string>
		<string>mailto</string>
		<string>tg</string>
		<string>telegram</string>
		<string>instagram</string>
		<string>whatsapp</string>
		<string>cydia</string>
		<string>baidumap</string>
		<string>dingtalk</string>
		<string>dingtalk-open</string>
		<string>iosamap</string>
		<string>comgooglemaps</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqapi</string>
		<string>sinaweibohd</string>
		<string>openapp.jdmobile</string>
		<string>kakaolink</string>
		<string>kakaotalk</string>
		<string>lineauth2</string>
		<string>line</string>
		<string>lineauth</string>
		<string>line3rdp.$(PRODUCTBUNDLEIDENTIFIER)</string>
		<string>zaloshareext</string>
		<string>comgoogleearth</string>
	</array>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Baskerville.ttf</string>
		<string>iconfont.ttf</string>
		<string>LobsterB.ttf</string>
		<string>LobsterM.ttf</string>
		<string>LobsterR.ttf</string>
		<string>Pacifico.ttf</string>
	</array>
</dict>
</plist>
